### Einlesen von Daten aus einer Datei

In [ ]:
f = open('input.txt')             # eine Datei zum Lesen öffnen
f.close()                         # nach dem Einlesen wieder schließen 
s = f.readline().strip()   # eine Zeile ohne den Zeilenumbruch einlesen
k = int(f.readline())      # eine Zahl einlesen
x, y = [int(x) for x in f.readline.split()]    # unpacking, eine Zeile mit zwei Zahlen einlesen.
data = [int(x) if x.isdigit() else x for x in f.readline().split()]   # die Zahlen der Zeile in ints umwandeln

`%%writefile` ist ein Jupyter-Command, das den Inhalt der Zelle in die angegebene Datei schreibt.

In [ ]:
%%writefile input.txt  
hello world

In [ ]:
f = open('input.txt')
s = f.readline().strip()       
print(s)

----
### A1

In [ ]:
'''
Erzeuge die Datei input.txt mit Inhalt:
2

Lies input.txt ein und speichere die Zahl in einer Variable k.
Gib dann das doppelte des Werts aus:

>>> print(2*k)
4
'''
# your code
print(2*k)

In [ ]:
'''
Erzeuge die Datei input.txt mit Inhalt:
17 4

Lies die beiden Zahlen in die Variablen a und b ein und gib ihre Summe aus.

>>> print(a+b)
21
'''
# your code
print(a+b)

In [ ]:
'''
Erzeuge die Datei input.txt mit Inhalt:
4
Lena
Henry
Fabian
Ida

Die Zahl in der ersten Zeile gibt an, wieviel Zeilen noch folgen. Lies zunächst die erste Zahl ein
und dann in einer for-Schleife die folgenden Zeilen. Speichere die Namen in einer Liste data.

>>> print(data)
['Lena', 'Henry', 'Fabian', 'Ida']
'''
# your code
print(data)

In [ ]:
'''
Erzeuge die Datei input.txt mit Inhalt:
4
3 8
12 0
3 9
2 1

Die Zahl in der ersten Zeile gibt an, wieviel Zeilen noch folgen. Lies zunächst die erste Zahl ein
und dann in einer for-Schleife die folgenden Zeilen. Speichere die Werte als int-Tuples in einer Liste data.

>>> print(data)
[(3, 8), (12, 0), (3, 9), (2, 1)]
'''
# your code
print(data)

In [ ]:
'''
Erzeuge die Datei input.txt mit Inhalt:
3
3 1 9 W
2 1 20 N
1 15 170 S

Die Zahl in der ersten Zeile gibt an, wieviele Zeilen noch folgen.
Die folgenden Zeilen sollen in eine Liste von Listen mit Namen data eingelesen werden. 
Zahlen sollen in ints umgewandelt werden.

>>> print(data)
[[3, 1, 9, 'W'], [2, 1, 20, 'N'], [1, 15, 170, 'S']]
'''
# your code
print(data)

In [ ]:
%%writefile input.txt  
4
3 8
12 0
3 9
2 1

In [ ]:
# your code

print(data)

[(3, 8), (12, 0), (3, 9), (2, 1)]