### Klassen

In [ ]:
'''
Die Klasse Ding hat die Attribute name und wert.

Erwartete Ausgabe:

Das Ding A hat den Wert 100.
'''
# your code

d = Ding("A", 100)
print(d)

In [ ]:
'''
Die Klasse Zutat hat die Attribute menge und bezeichnung.

Erwartete Ausgabe:

Es werden 800g Mehl benötigt.
'''
# your code
 
z = Zutat(800,'Mehl')
print(z)

In [ ]:
'''
Die Klasse Buch hat die Attribute autor, title und jahr. 
Die Methode gleicherAutorWie stellt fest, ob zwei Bücher den gleichen Autor haben.

Erwartete Ausgabe:

Thomas Mann
Ein fliehendes Pferd
True
False
'''

# your code


b1 = Buch("Thomas Mann","Buddenbrooks",1901)
b2 = Buch("Thomas Mann","Zauberberg",1924)
b3 = Buch("Martin Walser","Ein fliehendes Pferd",1977)

print(b1.autor)
print(b3.titel)
print(b1.gleicherAutorWie(b2))
print(b1.gleicherAutorWie(b3))

In [ ]:
'''
Die Klasse Zahl hat ein Attribut: wert.
Wir setzen voraus, dass die Klasse nur mit natürlichen Zahlen verwendet wird.
Die Methode anzahlZiffern gibt die Anzahl der Ziffern zurück.
Die Methode quersumme gibt die Quersumme zurück.

Erwartete Ausgabe:

2376
4
18
'''

# your code

z = Zahl(2376)
print(z.wert)
print(z.anzahlZiffern())
print(z.quersumme())